.form-radio {
  /* Custom styles if needed */
}
.form-radio:checked {
  /* Custom styles for the checked state */
  background-image: url('data:image/svg+xml;utf8,<svg fill="%23007BFF" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><circle cx="10" cy="10" r="6"/></svg>');
  border-color: transparent;
}

.progress-container {
  position: relative;
}

progress {
  width: 100%;
  height: 28px; /* Altura da barra de progresso */
  -webkit-appearance: none; /* Remove a aparência padrão para WebKit/Blink */
  appearance: none; /* Remove a aparência padrão */
  color: #00695c; /* Cor da barra de progresso */
}

progress::-webkit-progress-bar {
  background-color: #eee; /* Cor de fundo para WebKit/Blink */
}

progress::-webkit-progress-value {
  background-color: #00695c; /* Cor de preenchimento para WebKit/Blink */
}

progress::-moz-progress-bar {
  background-color: #00695c; /* Cor de preenchimento para Mozilla */
}

#progressText {
  margin-top: 8px;
  position: absolute; /* Posicionamento absoluto dentro do contêiner relativo */
  width: 100%; /* Largura para centralizar o texto */
  top: 0; /* Posição no topo do contêiner */
  left: 0; /* Posição à esquerda do contêiner */
  text-align: center; /* Centraliza o texto horizontalmente */
  line-height: 20px; /* Altura da linha igual à altura da barra de progresso para centralizar verticalmente */
  color: rgb(219, 219, 219); /* Cor do texto */
  font-weight: bold; /* Opcional: deixa o texto em negrito */
}
