/* .active {
  background-color: #44403c;
  :focus {
    outline: none;
  }
  :focus {
    box-shadow: 0 0 0 3px rgba(214, 211, 209, 0.5);
  }
} */

.tab {
  @apply py-2 px-4 text-gray-600 hover:text-blue-600 cursor-pointer;
}

.tab-active {
  @apply text-blue-600 border-b-2 border-blue-600;
}
