<div class="bg-gray-200 p-2 mb-4">
  <nav class="flex space-x-2">
    <a routerLink="/doctor-area/patients-list" routerLinkActive="active" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium
    hover:bg-stone-200">Listar Pacientes</a>
    <a routerLink="/doctor-area/patient-registry" routerLinkActive="active" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium
      hover:bg-stone-200">Cadastrar Paciente</a>
  </nav>
</div>
<router-outlet></router-outlet>
