<div class="bg-gray-100 p-4 mb-4">
  <nav class="flex space-x-4">
    <a routerLink="patients-list" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium
    hover:bg-stone-200 active:bg-stone-300 focus:outline-none focus:ring focus:ring-stone-300">Listar Pacientes</a>
    <a routerLink="patient-registry" class="text-gray-600 hover:text-gray-900 px-3 py-2 rounded-md text-sm font-medium
      hover:bg-stone-200 active:bg-stone-300 focus:outline-none focus:ring focus:ring-stone-300">Cadastrar Paciente</a>
  </nav>
</div>
<router-outlet></router-outlet>
