<!-- <div class="bg-gray-200 p-2 mb-4">
  <nav class="flex space-x-2 sm:w-4/12 mx-auto">
    <a routerLink="/doctor-area/patients-list" routerLinkActive="active" class="btn-custom">Listar Pacientes</a>
    <a routerLink="/doctor-area/patient-registry" routerLinkActive="active" class="btn-custom" [routerLinkActiveOptions]="{exact: false}" >Cadastrar Paciente</a>
  </nav>
</div> -->

<div class="sm:w-4/12 mx-auto text-left">
  <div class="text-lg font-semibold text-gray-600 px-1.5 py-2">Pacientes</div>
  <div class="flex flex-wrap bg-gray-200 rounded">
    <button class="tab mr-2 text-sm" routerLink="/doctor-area/patients-list" routerLinkActive="tab-active">Lista</button>
    <button class="tab mr-2 text-sm" routerLink="/doctor-area/patient-registry" routerLinkActive="tab-active">Cadastro</button>
    <button class="tab mr-2 text-sm" routerLink="/doctor-area/patient-results" routerLinkActive="tab-active">Resultados</button>
  </div>
</div>

<router-outlet></router-outlet>
