<div class="overflow-x-auto relative sm:w-4/12" *ngIf="patientList">
  <table class="text-sm text-gray-500">
    <!-- <thead class="text-xs text-gray-700 uppercase bg-gray-50">
      <tr>
        <th scope="col" class="py-3 px-6"></th>
        <th scope="col" class="py-3 px-6"></th>
      </tr>
    </thead> -->
    <tbody *ngIf="patientList.length > 0">
        @for (patient of patientList; track patient.fields.nome) {
        <tr class="bg-white border-b text-left">
          <td class="py-4 px-6 w-7/12">{{ patient.fields.nome.stringValue }} </td>
          <td class="py-4 px-6 w-5/12">
            <button class="font-medium text-blue-400 hover:underline" (click)="editPatient(patient)">Editar</button>
            <button class="font-medium text-blue-400 hover:underline mt-2" (click)="requestTest(patient.fields.nome.stringValue)">Nova Avaliação</button>
            <button class="font-medium text-blue-400 hover:underline mt-2" *ngIf="patient.fields.tests_results" (click)="patientResults(patient.fields.nome.stringValue)">Resultados</button>
          </td>
        </tr>}
        @empty {
          <li> Nenhum paciente cadastrado</li>
        }
    </tbody>
  </table>
  </div>
  <div>
    <div *ngIf="isLoading" class="mt-4">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div *ngIf="!isLoading && !patientList" class="mt-4">
      <span>Nenhum paciente cadastrado</span>
    </div>
</div>

<app-alert-box [isError]="false" [textMessage]="'Solicitação enviada'" *ngIf="sentTest"></app-alert-box>
<app-alert-box [isError]="true" [textMessage]="'Erro no envio'" *ngIf="sentTestError"></app-alert-box>
