<nav class="bg-gray-600 p-4">
  <div class="container mx-auto flex justify-between items-center">
      <div class="text-slate-100 text-lg cursor-pointer" routerLink="">
          <!-- Toolbar Title or Logo -->
          Vital Quiz
      </div>
      <button class="bg-red-400 hover:bg-red-700 text-white text-sm font-bold py-1.5 px-2 rounded" (click)="logOutUser()" *ngIf="isAuthenticated">
          Logout
      </button>
  </div>
</nav>

<div class="text-center h-screen">
  <router-outlet></router-outlet>
</div>
