<div class="sm:w-4/12 mx-auto">
  <!-- Questions -->
  <div class="p-8" [@fadeInOut]="isOpen ? 'open': 'closed' ">
    <p>Pergunta {{ questionNum() + 1 }} de {{ questions.length }}</p>
    <app-quiz-questions [question]="questions[questionNum()]"></app-quiz-questions>
  </div>

  <!-- Input range -->
  <form #quizForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="grid grid-cols-2 m-4 gap-2">
      @for(item of answers; track item; let idx = $index) {
        <div class="text-left flex items-end">{{ item }}</div>
        <div class="text-right">
          <label [for]="idx" class="mr-3 text-3xl">{{ smileEmojis[idx] }}</label>
          <input type="radio" name="answer" [id]="idx" [value]="idx" [(ngModel)]="answer" class="form-radio h-5 w-5 text-blue-600">
        </div>
      }
    </div>

    <!-- Navigation buttons -->
    <div class="p-4 flex justify-between mt-16">
      <div>
        <button type="button" class="btn-custom-actv" (click)="decrement(quizForm)" *ngIf="questionNum() > 0 && questionNum() < 12">Voltar</button>
      </div>
      <div>
        <button type="button" class="btn-custom-actv" (click)="increment(quizForm)" *ngIf="questionNum() < 11">Próxima</button>
        <button type="submit" class="btn-custom-actv" *ngIf="questionNum() === 11">Finalizar</button>
      </div>
    </div>
  </form>
</div>
