
  <div class="text-left w-11/12 sm:w-3/12 p-4 mx-auto">
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="flex flex-col">
        <label for="email">E-mail:</label>
        <input type="email" name="email" ngModel required email class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
      </div>
      <div class="flex flex-col">
        <label for="passowrd">Password:</label>
        <input type="password" name="password" ngModel required minlength="6" class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
      </div>
      <div class="text-right mt-2">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1.5 px-4 rounded" type="submit" [disabled]="!authForm.valid">{{ isLoginMode ? 'Login' : 'Cadastre-se' }}</button> |
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1.5 px-4 rounded" type="button" (click)="onSwitchMode()">Troque para {{ isLoginMode ? 'cadastre-se' : 'se logar'}}</button>
      </div>
    </form>
  </div>
