<h1 class="text-2xl font-bold mt-8 text-gray-500 text-shadow">Avaliações Médicas</h1>
<div class="flex flex-col justify-center items-center p-4">
  <button class="w-8/12 sm:w-3/12 mt-16 flex flex-col justify-center items-center text-gray-700 font-semibold py-2 px-4 border border-gray-700 border-opacity-20 rounded shadow-lg hover:border-s-stone-800 hover:shadow-2xl transition duration-300 ease-in-out" routerLink="/patient-area">
    <div class="text-lg">Realize uma avaliação</div>
    <img src="assets/paciente.png" alt="Entrada do paciente" class="h-24 w-24 mt-2">
  </button>
  <button class="w-8/12 sm:w-3/12 mt-16 flex flex-col justify-center items-center text-gray-700 font-semibold py-2 px-4 border border-gray-700 border-opacity-30 rounded shadow-lg hover:border-stone-800 hover:shadow-2xl transition duration-300 ease-in-out" routerLink="/doctor-area/patients-list">
    <div class="text-lg">Área Restrita</div>
    <img src="assets/doutor.png" alt="Entrada do doutor" class="h-24 w-24 mt-2">
  </button>
</div>
