    <!-- form -->
    <form class="p-4 text-left" #patientForm="ngForm" (ngSubmit)="onSubmit(patientForm)" *ngIf="!isLoading">
      <div class="flex flex-col">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" ngModel required
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
      </div>
      <div class="flex flex-col mt-4">
        <label for="email">E-mail:</label>
        <input type="email" name="email" ngModel required email
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
      </div>
      <div class="flex flex-col mt-4">
        <label for="phone">Telefone:</label>
        <input type="tel" name="phone" ngModel required pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
        class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none">
      </div>
      <div class="text-right mt-3 flex">
        <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1.5 px-4 rounded mr-2" type="submit" >Cadastrar</button>
      </div>
    </form>
